In [10]:
import pandas as pd
import csv

In [7]:
# read 'glue/sts-b/original/sts-test.tsv' line by line
# and write to 'glue/sts-b/labels.tsv'
with open('glue/sts-b/original/sts-test.tsv', 'r') as f:
    with open('glue/sts-b/original/test_labels.tsv', 'w') as g:
        for line in f:
            g.write(line.split('\t')[4] + '\n')

In [17]:
test_data = pd.read_csv('glue/sts-b/test.tsv', sep='\t', header=0, quoting=csv.QUOTE_NONE, index_col=0)
test_labels = pd.read_csv('glue/sts-b/original/test_labels.tsv', sep='\t', header=None, quoting=csv.QUOTE_NONE)

In [18]:
test_labels

        0
0     2.5
1     3.6
2     5.0
3     4.2
4     1.5
...   ...
1374  0.0
1375  1.0
1376  1.0
1377  0.0
1378  0.0

[1379 rows x 1 columns]

In [19]:
test_data['score'] = test_labels

In [20]:
test_data

,genre,filename,year,old_index,source1,source2,sentence1,sentence2,score
index,,,,,,,,,
0,main-captions,MSRvid,2012test,24,none,none,A girl is styling her hair.,A girl is brushing her hair.,2.5
1,main-captions,MSRvid,2012test,33,none,none,A group of men play soccer on the beach.,A group of boys are playing soccer on the beach.,3.6
2,main-captions,MSRvid,2012test,45,none,none,One woman is measuring another woman's ankle.,A woman measures another woman's ankle.,5.0
3,main-captions,MSRvid,2012test,63,none,none,A man is cutting up a cucumber.,A man is slicing a cucumber.,4.2
4,main-captions,MSRvid,2012test,66,none,none,A man is playing a harp.,A man is playing a keyboard.,1.5
...,...,...,...,...,...,...,...,...,...
1374,main-news,headlines,2016,1354,Europe Media Monitor (http://emm.newsbrief.eu),Europe Media Monitor (http://emm.newsbrief.eu),"Philippines, Canada pledge to further boost re...",Philippines saves 100 after ferry sinks,0.0
1375,main-news,headlines,2016,1360,Europe Media Monitor (http://emm.newsbrief.eu),Europe Media Monitor (http://emm.newsbrief.eu),Israel bars Palestinians from Jerusalem's Old ...,"Two-state solution between Palestinians, Israe...",1.0
1376,main-news,headlines,2016,1368,Europe Media Monitor (http://emm.newsbrief.eu),Europe Media Monitor (http://emm.newsbrief.eu),How much do you know about Secret Service?,Lawmakers from both sides express outrage at S...,1.0
1377,main-news,headlines,2016,1420,Europe Media Monitor (http://emm.newsbrief.eu),Europe Media Monitor (http://emm.newsbrief.eu),Obama Struggles to Soothe Saudi Fears As Iran ...,Myanmar Struggles to Finalize Voter Lists for ...,0.0
1378,main-news,headlines,2016,1432,Europe Media Monitor (http://emm.newsbrief.eu),Europe Media Monitor (http://emm.newsbrief.eu),South Korea declares end to MERS outbreak,North Korea Delegation Meets With South Korean...,0.0

In [21]:
test_data.to_csv('glue/sts-b/test_w_labels.tsv', sep='\t', quoting=csv.QUOTE_NONE)